# App HTTP
httpHost=0.0.0.0
httpPort=8080
staticFilesPath=internal/web/static

# SMTP (Yandex) - used by app
EMAIL_SMTP_HOST=smtp.yandex.ru #may be changed for what ever you wnat
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER=your_email_adress
EMAIL_SMTP_PASSWORD=secret

# Telegram sender (leave empty to disable in docker local run)
TG_SENDER_BOT_TOKEN=your_token_here

# RabbitMQ connection/client
AMQP_HOST=rabbitmq
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASS=guest
AMQP_VHOST=/
AMQP_CONNECTION_NAME=notifi-service
AMQP_CONNECT_TIMEOUT=10s
AMQP_REINIT_TIMEOUT=5s
AMQP_HEARTBEAT=10s

# RabbitMQ topology
AMQP_WAIT_QUEUE=notify.wait
AMQP_WORK_QUEUE=notify.work
AMQP_DLX_NAME=notify.dlx
AMQP_DEAD_ROUTING_KEY=notify.work

# Publish retry
PUBLISH_RETRY_ATTEMPTS=5
PUBLISH_RETRY_DELAY=5s
PUBLISH_RETRY_BACKOFF=2.0

# Consume retry (currently mostly unused, but kept in env)
CONSUME_RETRY_ATTEMPTS=3
CONSUME_RETRY_DELAY=2s
CONSUME_RETRY_BACKOFF=2.0

# Notifier send retry
SEND_RETRY_ATTEMPTS=3
SEND_RETRY_DELAY=1s
SEND_RETRY_BACKOFF=2.0

# PostgreSQL
pgHost=postgres
pgPort=5432
pgUser=postgres
pgPassword=postgres
pgDBName=delayed_notifier
pgMaxConns=10
pgMinConns=1
pgMaxConnLifetime=30m
pgMaxConnIdleTime=5m
pgHealthCheckPeriod=30s
pgConnectionTimeout=5s

# Redis
REDIS_ADDR=redis:6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_RECORD_TTL=24h
REDIS_USE_TLS=false
REDIS_DIAL_TIMEOUT=5s
REDIS_READ_TIMEOUT=3s
REDIS_WRITE_TIMEOUT=3s
REDIS_POOL_TIMEOUT=4s
REDIS_POOL_SIZE=10
REDIS_PROTOCOL=2

# MailHog env (kept for tests/tools; mailhog service is not in docker-compose)
MAILHOG_SMTP_HOST=localhost
MAILHOG_SMTP_PORT=1025
MAILHOG_API_URL=api/v2/messages
